*{ margin: 0; padding: 0;}
a{ text-decoration: none}
ul li{ list-style: none}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    clear: both;
    display: block;
}
#wrapper{
   width: 1024px;
   margin: 0 auto
}
.header-wp{ background: #F5F8FA; }
.header-wp p{padding: 30px 0;}

.nav-wp{ background: #5CB6EA;}
.nav-wp ul li { float: left; list-style: none; margin-right: 20px;}
.nav-wp ul li a{ text-decoration: none; padding: 10px 20px; display: block;}

#main-wp{ height: 300px; background: #F6F7F9;}
#main-wp .main-content{ width: 70%; border: 1px solid; height: 100%; float: left;}
#main-wp .aside-wp{ width: 28%;border: 1px solid; height: 100%;float: right; }
#main-wp .about { width: 500px; font-size: 15px; font-weight: normal ;padding-left: 20px}
#main-wp .about h3{ padding-top:10px; padding-bottom: 10px;}
#main-wp .about .nav-about{ }
#main-wp .about .nav-about li {float: left; list-style: none; margin-right: 10px;}
#main-wp .about .nav-about li a{  display: block; padding: 5px 10px; border-radius: 5px; background: #5CB6EA}

#main-wp .about .content-about{ clear: both; padding-top: 10px; padding-bottom: 10px;}

#main-footer{ width: 100%; height: 80px; background: green}
